# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lab_3.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GI242\Lab_3\.idea\.idea.Lab_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
